body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: bold;
  font-size: 30px;
}

.image {
  height: 50px;
  background-color: rgb(25, 25, 25);
  border: none;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  cursor: pointer;
  margin-right: 10px;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.reset-button {
  padding: 8px 15px;
  font-size: 15px;
  border: none;
  background-color: white;
  cursor: pointer;
}