body {
  font-family: Arial, Helvetica, sans-serif;
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 205px 158px 105px;
  align-items: center;

}


.js-name-input2 {
  height: 30px;
  width: 185px;
  font-size: 15px;
  padding-left: 5px;
  margin-right: 5px;
}

.js-due-date {
  height: 33px;
  width: 134px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  font-size: 15px;
  margin-bottom: 10px;
}

.add-button {
  height: 38px;
  width: 100px;
  background-color: green;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

.delete-button {
  height: 38px;
  width: 100px;
  background-color: rgb(150, 1, 1);
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

